<div >
  <ul id="about-nav">
    <li><a href="" class="active">Node & Express</a></li><span class="slashes">//</span>
    <li><a href="">AJAX</a></li><span class="slashes">//</span>
    <li><a href="">PostgreSQL</a></li><span class="slashes">//</span>
    <li><a href="">Materialize.CSS</a></li>
  </ul>
</div>

<div class="canvas">
    <!-- AJAX Load-->
</div>