<nav id="transparent-nav">
    <div class="nav-wrapper">
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="about-nav" class="center hide-on-med-and-down">
        <li><a href="#" class="active">Node & Express</a></li><span class="slashes">//</span>
        <li><a href="#">AJAX</a></li><span class="slashes">//</span>
        <li><a href="#">PostgreSQL</a></li><span class="slashes">//</span>
        <li><a href="#">Materialize.CSS</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
       <li><a href="#" class="active">Node & Express</a></li>
        <li><a href="#">AJAX</a></li>
        <li><a href="#">PostgreSQL</a></li>
        <li><a href="#">Materialize.CSS</a></li>
      </ul>
    </div>
</nav>

<div id="canvas">
    <!-- AJAX Load-->
</div>